<!-- embedar um codigo Go para carregar o template -->
{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja-Golang</title>

    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">

    <!-- Bootstrap-Icons - via CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <!-- Bootstrap - via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">
</head>

<nav class="navbar navbar-light bg-light mb-4">
    <a class="navbar-brand" href="/">Loja-Golang</a>
</nav>

<body>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-primary table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.Nome}}</td>
                            <td>{{.Descricao}}</td>
                            <td>{{.Preco}}</td>
                            <td>{{.Quantidade}}</td>
                            <td><button onclick="onDelete('{{.Id}}')" class="btn btn-outline-danger">Deletar</button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="card-footer">
            <a href="/new" class="btn btn-primary mb-2">
                <i class="bi bi-plus-circle"></i> Produto
            </a>
        </div>
    </div>
</body>
<script>
    // função para mostrar uma mensagem de confirmação de deleção com Javascript.
    function onDelete(id) {
        let resposta = confirm("Tem certeza disso? O produto sera apagado da base de dados.")
        if (resposta) {
            window.location = "/delete?id=" + id
        }
    }
</script>
</html>
{{end}}