<!-- embedar um codigo Go para carregar o template -->
{{define "Index"}}

{{template "_head"}}

{{template "_menu"}}

<body>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-primary table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.Nome}}</td>
                            <td>{{.Descricao}}</td>
                            <td>{{.Preco}}</td>
                            <td>{{.Quantidade}}</td>
                            <td><button onclick="onDelete('{{.Id}}')" class="btn btn-outline-danger">Deletar</button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>

        {{template "_footer"}}
        
    </div>
</body>
<script>
    // função para mostrar uma mensagem de confirmação de deleção com Javascript.
    function onDelete(id) {
        let resposta = confirm("Tem certeza disso? O produto sera apagado da base de dados.")
        if (resposta) {
            window.location = "/delete?id=" + id
        }
    }
</script>
</html>
{{end}}